.ring-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -5px;
}

.ringring {
  -webkit-border-radius: 30px;
  height: 15px;
  width: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}

.dot-red {
  border: 3px solid red;
  background-color: red;
}

.dot-green {
  border: 3px solid #62bd19;
  background-color: #62bd19;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.customized_hover{
  background-color: #eaecf4;
}